#courseFinder {
  width: fit-content;
}

.loading#courseFinder:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  inset: 29% 0 0 95%;
  border: solid var(--bs-primary) 0.25em;
  border-right-color: transparent;
  border-radius: 50%;
  animation: .75s linear infinite spinner-border;
}

#courseFinder:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  inset: 29% 0 0 calc(95% - 20px);
  border: solid var(--bs-light) 0.25em;
  border-radius: 50%;
}

#edit-course-name::placeholder {
  color: var(--bs-light);
  font-family: FontAwesome;
}

@media (min-width: 768px) {
  #courseFinder:after {
    left: 95%;
  }
}
